<template>
  <v-app>
    <v-container>
      <div>
        <RecycleScroller
          class="scroller"
          :items="posts"
          :item-size="0.000001"
          key-field="id"
          v-slot="{ item }"
        >
          <v-card>
            <v-dialog
              v-model="dialog"
              persistent
              max-width="290"
              :retain-focus="false"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-icon
                  large
                  left
                  class="delete"
                  v-bind="attrs"
                  v-on="on"
                  @click="removePostID = item.id"
                >
                  mdi-trash-can
                </v-icon>
              </template>
              <v-card>
                <v-card-title class="text-h5">
                  Do you want to delete a post?
                </v-card-title>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="green darken-1"
                    text
                    @click="dialog = false"
                  >
                    Cancel
                  </v-btn>
                  <v-btn
                    color="green darken-1"
                    text
                    @click="$emit('removePost', removePostID); dialog = false"
                  >
                    OK
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-img
              :src="item.src"
              :lazy-src="item.src"
              aspect-ratio="1"
              class="grey lighten-2"
              @click="$emit('updateEnterPostID', getIndex(item.id)); $router.push('/post').catch(()=>{})"
            >
              <template v-slot:placeholder>
                <v-row
                  class="fill-height ma-0"
                  align="center"
                  justify="center"
                >
                  <v-progress-circular
                    indeterminate
                    color="grey lighten-5"
                  ></v-progress-circular>
                </v-row>
              </template>
            </v-img>
            <v-card-text>
              <v-row
                align="center"
                class="mx-0"
              >
                <v-text-field v-model="item.input"></v-text-field>
              </v-row>
            </v-card-text>
          </v-card>
        </RecycleScroller>
      </div>
    </v-container>
  </v-app>
</template>

<script>
  export default {
    name: 'DashboardPage',

    props: [
      "posts"
    ],

    data: () => ({
      enterPost: [],
      dialog: false,
      removePostID: null,
    }),

    mounted() {
      let wrapper = document.querySelector(".vue-recycle-scroller__item-wrapper");
      wrapper.style.display = "flex";
      wrapper.style.flexWrap = "wrap";
      wrapper.style.justifyContent = "center";
      wrapper.style.width = "100%";
      // wrapper.style.maxHeight = "100vh";

    },

    methods: {
      getIndex(id) {
        let index = this.posts.findIndex(function(o){
          return o.id === id;
        })
        return index !== -1 ? index : 0;
      }
    },
  }
</script> 
<style lang="scss" scoped>
  .container {
    padding: 0;
    .scroller {
      .v-card {
        margin: 10px;

        .delete {
          color: red !important;
          position: absolute;
          z-index: 2;
          top: 0;
          right: 0;
          opacity: 0.3;
          margin: 0;

          &:hover {
            cursor: pointer;
            opacity: 0.8;
          }
        }
        .v-image {  
          height: 300px;

          &:hover {
            cursor: pointer;
            opacity: 0.8;
          } 
        }   
      }
    }
  }
</style>