<template>
  <v-container>
    <div class="card">
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
      >
        <v-text-field
          v-model="email"
          :rules="emailRules"
          label="E-mail*"
          ref="email"
          required
          @keyup.enter="$refs.password.focus()"
        ></v-text-field>
        <v-text-field
          v-model="password"
          :rules="passwordRules"
          label="Password*"
          ref="password"
          required
          :type="showPassword ? 'password' : 'text'"
          :append-icon="showPassword ? 'mdi-eye-off' : 'mdi-eye'"
          @click:append="showPassword = !showPassword"
          @keyup.enter="onSignIn"
        ></v-text-field>
        <v-btn
          class="mr-4 action"
          @click="onSignIn"
        >
          Sign In
        </v-btn>
      </v-form>
    </div>
  </v-container>
</template>

<script>
  export default {
    name: 'LoginPage',

    props: [
      "rules"
    ],

    data: () => ({
      valid: true,
      showPassword: true,
      email: "",
      emailRules: [],
      password: "",
      passwordRules: [],
    }),

    mounted() {
      this.emailRules = this.rules.simple.email;
      this.passwordRules = this.rules.simple.password;
      
      this.$refs.email.focus();
    },

    methods: {
      async onSignIn () {
        this.emailRules = this.rules.full.email;
        this.passwordRules = this.rules.full.password;

        await this.$refs.form.validate();
        if( this.$refs.form.validate() ) {
          sessionStorage.setItem('kiit_token', URL.createObjectURL(new Blob([])).slice(-36).replace(/-/g, ""));
          this.$router.push('/'); 
        }
      },
    },
  }
</script> 