<template>
  <v-container>
    <div>
      <h3>{{post.title}}</h3>
      <v-img
            :src="post.src"
            :lazy-src="post.src"
            aspect-ratio="1"
            class="grey lighten-2"
          />
      <span v-html="post.description"></span>
    </div>
  </v-container>
</template>

<script>
  export default {
    name: 'PostPage',

    props: [
      "post"
    ],

    data: () => ({

    }),

    mounted() {

    },

    methods: {

    },
  }
</script> 

<style scoped lang="scss">
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > * {
      margin-bottom: 20px;
    }
    .v-image {
      height: auto;
      width: 50%;
      max-width: 50%;
    }
    span {
      width: 90%;
      max-width: 90vw;
      text-align: justify;
      word-wrap: break-word;
    }
  }
  
</style>