<template>
  <v-container>
    <div class="card">
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
      >
        <v-text-field
          v-model="firstName"
          :rules="nameRules"
          label="First name*"
          required
          ref="firstName"
          @keyup.enter="$refs.lastName.focus()"
        ></v-text-field>
        <v-text-field
          v-model="lastName"
          :rules="nameRules"
          label="Last name*"
          required
          ref="lastName"
          @keyup.enter="$refs.email.focus()"
        ></v-text-field>
        <v-text-field
          v-model="email"
          :rules="emailRules"
          label="E-mail*"
          required
          ref="email"
          @keyup.enter="$refs.password.focus()"
        ></v-text-field>
        <v-text-field
          v-model="password"
          :rules="passwordRules"
          label="Password*"
          required
          :type="showPassword ? 'password' : 'text'"
          :append-icon="showPassword ? 'mdi-eye-off' : 'mdi-eye'"
          @click:append="showPassword = !showPassword"
          ref="password"
          @keyup.enter="$refs.phone.focus()"
        ></v-text-field>
        <v-text-field
          v-model="phone"
          :rules="phoneRules"
          label="Phone*"
          required
          ref="phone"
          @keyup.enter="onRegister"
        ></v-text-field>
        <v-checkbox
          v-model="checkbox"
          label="I agree with private policy"
          :rules="checkboxRules"
        ></v-checkbox>
        <v-btn
          class="mr-4 action"
          @click="onRegister"
        >
          Register
        </v-btn>
      </v-form>
    </div>
  </v-container>
</template>

<script>
  export default {
    name: 'RegisterPage',

    props: [
      "rules"
    ],

    data: () => ({
      valid: true,
      showPassword: true,
      firstName: "",
      lastName: "",
      nameRules: [],
      email: "",
      emailRules: [],
      password: "",
      passwordRules: [],
      phone: "",
      phoneRules: [],
      checkbox: false,
      checkboxRules: []
    }),

    mounted() {
      this.emailRules = this.rules.simple.email;
      this.passwordRules = this.rules.simple.password;
      this.nameRules = this.rules.simple.name;
      this.phoneRules = this.rules.simple.phone;
      this.checkboxRules = this.rules.simple.checkbox;

      this.$refs.firstName.focus();
    },

    methods: {
      async onRegister () {
        this.emailRules = this.rules.full.email;
        this.passwordRules = this.rules.full.password;
        this.nameRules = this.rules.full.name;
        this.phoneRules = this.rules.full.phone;
        this.checkboxRules = this.rules.full.checkbox;

        await this.$refs.form.validate();
        if( this.$refs.form.validate() ) {
          this.$router.push('/'); 
        }
      },
    },
  }
</script>