<template>
  <div id="app">
    <v-app-bar
      dark
    >
      <v-app-bar-nav-icon 
        class="nav-btn"
        @click="onUpdateShowNav"
      ></v-app-bar-nav-icon>
      <v-toolbar-title class="logo">
        <router-link to="/">
          Good News
        </router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <div class="auth-btn">
        <router-link to="/login">
          <v-btn
            class="ma-2 action"
            outlined
          >
            Login
          </v-btn>
        </router-link>
        <router-link to="/register">
          <v-btn
            class="ma-2 action"
            outlined
          >
            Register
          </v-btn>
        </router-link>
      </div>
    </v-app-bar>
    <router-view 
      v-bind:showNav="showNav"
      @updateShowNav="onUpdateShowNav"
    />
  </div>
</template>

<script>
  export default {
    data: () => ({
      showNav: false,
    }),

    watch: {
      '$route'(to){
        if (to.path === '/') {
          if (sessionStorage.getItem('kiit_token') != null) {
            this.$router.push('/dashboard'); 
          } else {
            this.$router.push('/login'); 
          }
        }
      }
    },
    mounted() {
      const href = window.location.pathname;
      if (href === '/' || href === '/dashboard' || href === '/post') {
        if (sessionStorage.getItem('kiit_token') != null) {
          this.$router.push('/dashboard'); 
        } else {
          this.$router.push('/login'); 
        }
      }
    },
    methods: {
      onUpdateShowNav() {
        this.showNav = !this.showNav;
      }
    }
  }
</script>

<style lang="scss">
html {
  overflow: hidden !important;
}

::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

html {
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

header {
  background-color: #3949AB !important;
  color:  white !important;
  position: sticky !important;
  top: 0;
  z-index: 2;

  .nav-btn {
    color: white !important;
    display: none;
  }

  .auth-btn {
    display: flex;
    button {
      margin: 5px;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }

  .logo a {
    text-decoration: none;
    padding-left: 30px;
    font-family: Impact;
    font-size: 30px;
    color: orange;
  }
}

.error--text {
  color: #ff5252 !important;
  caret-color: #ff5252 !important;
}

button.action {
  background-color: #3949AB !important;
  color:  white !important;
}

.container {
  max-width: 95% !important; 
}

/* Portrait and Landscape */
@media screen 
  and (max-device-width: 480px) {
    header {

      .nav-btn {
        display: block;
      }
      a {
        padding: 0 !important;
      }
      button {
        font-size: 0.675rem !important;
        padding: 0 !important;
      }

    }
}
</style>
