<template>
  <v-container>
    <router-view v-bind:rules="rules"/>
  </v-container>
</template>

<script>
  export default {
    name: 'AuthLayout',

    data: () => ({
      rules: {
        simple: {
          email: [
            v => v.length <= 150 || "Email must be less than 150 characters",
          ],
          password: [
            v => v.length <= 50 || "Password must be less than 50 characters"
          ],
          name: [
            v => v.length <= 150 || "Name must be less than 150 characters"
          ],
          phone: [
            v => v.length <= 10 || 'Phone must be less than 10 characters'
          ],
          checkbox: []
        },
        full: {
          email: [
            v => !!v || "Cannot be empty",
            v => v.length <= 150 || "Email must be less than 150 characters",
            v => {
              const pattern = /^(([^<>()[\]\\.,;:\s@']+(\.[^<>()[\]\\.,;:\s@']+)*)|('.+'))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
              return pattern.test(v) || "Invalid Email Address"
            }
          ],
          password: [
            v => !!v || "Cannot be empty",
            v => v.length > 6 || "Password must have at least 6 characters",
            v => v.length <= 50 || "Password must be less than 50 characters"
          ],
          name: [
            v => !!v || "Cannot be empty",
            v => v.length <= 150 || "Name must be less than 150 characters"
          ],
          phone: [
            v => (!!v && v.length > 7) || "Phone must have at least 7 characters",
            v => v.length <= 10 || 'Phone must be less than 10 characters'
          ],
          checkbox: [
            v => !!v || 'You must agree to continue'
          ]
        }
      },
    }),
  }
</script>

<style lang="scss">
.card {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;

  form {
    width: 600px;
    max-width: 600px;
  }
}
</style>