<template>
  <v-container>
    <v-navigation-drawer
      v-model="showNavTmp"
      absolute
      temporary
    >
      <v-list nav>
        <v-list-item-group>
          <v-list-item
            v-for="post, i in posts"
            :key="i"
            @click="onUpdateEnterPostID(i); $router.push('/post').catch(()=>{})"
          >
            <v-list-item-content>
              <v-list-item-title>{{post.title}}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <v-row class="main">
      <v-btn
            icon
            class="btn-show"
            @click="showPostList = !showPostList"
          >
            <v-icon v-if="showPostList==true" large>mdi-arrow-left-drop-circle</v-icon>
            <v-icon v-else large>mdi-arrow-right-drop-circle</v-icon>
          </v-btn>
      <div class="post-list">
        
        <v-card
          class="mx-auto"
          width="100%"
          v-show="showPostList==true"
        > 
          <v-list-item-title v-show="showPostList==true">
            <v-btn
              depressed
              class="create-post action"
              @click="createPost"
              :loading="loading"
              :disabled="loading"
            >
              Create Post
            </v-btn>
          </v-list-item-title>
          

          <v-card-text v-if="showPostList==true">
            <v-list class="list">
              <v-list-item-group>
                <v-list-item
                  v-for="post, i in posts"
                  :key="i"
                  @click="onUpdateEnterPostID(i); $router.push('/post').catch(()=>{})"
                >
                  <v-list-item-content>
                    <v-list-item-title>{{post.title}}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-card-text>
        </v-card>
      </div>
      <div class="board">
        <router-view 
          v-bind:posts="posts"
          v-bind:post="posts[enterPostID]"
          @updateEnterPostID="onUpdateEnterPostID"
          @removePost="onRemovePost"
          :key="componentKey"
        />
      </div>
      <v-btn
        fab
        class="btn-fab"
        @click="createPost"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'MainLayout',

    props: [
      "showNav"
    ],

    data: () => ({
      showPostList: true,
      showNavTmp: false,
      posts: [],
      enterPostID: null,
      loading: false,
      componentKey: 0,
    }),

    watch: {
      posts: {
        handler: function() {
          sessionStorage.setItem('kiit_posts', JSON.stringify(this.posts)); 
        },
        deep: true
      },
      showNav(){
        this.showNavTmp = this.showNav;
      },
      showNavTmp(val) {
        if (val === false) this.$emit('updateShowNav'); 
      }
    },

    mounted() {
      if (sessionStorage.getItem('kiit_posts') !== null )
        this.posts = JSON.parse(sessionStorage.getItem('kiit_posts'));
    },

    methods: {
      createPost() {
        this.loading = true;
        let url = `https://api.coinstats.app/public/v1/news?skip=${this.posts.length+1}&limit=1`;
        this.axios
          .get(url)
          .then((res) => {
            // console.log(res.data.news[0].description);
            this.posts.unshift({
              id: this.posts.length,
              title: res.data.news[0].title,
              description: res.data.news[0].description,
              src: `https://picsum.photos/200/300?random=${this.posts.length+1}`,
              input: ""
            });
            this.loading = false;
          })
          .catch(() => {
            this.loading = false;
          })
      },
      onUpdateEnterPostID(id) {
        this.enterPostID = id;
      },
      onRemovePost(id) {
        let index = this.posts.findIndex(function(o){
          return o.id === id;
        })
        if (index !== -1) {
          this.posts.splice(index, 1); 
          this.forceRerender();
        }
      },
      forceRerender() {
        this.componentKey += 1;
      }
    }
  }
</script>

<style lang="scss">
  button {
    color: #3949AB !important;
  }
  .main {
    flex-wrap: nowrap !important;

    .btn-show {
      position: sticky;
      top: 75px;
      margin: 20px 0;
      z-index: 2;
    }

    .btn-fab {
      bottom: 10px;
      right: 10px;
      background: #3949AB !important;
      color: white !important;
      display: none;
    }

    .post-list {
      position: sticky;
      top: 75px;
      margin: 20px 0;
      max-width: 400px;
      max-height: 100vh;
      .create-post {
        margin: 10px;
      }

      .list {
        overflow-y: auto;
        max-height: calc(100vh - 180px);
        padding: 0 !important;
      }
    }
    .board {
      width: 100%;
      min-width: calc(100vw - 500px);
      max-height: calc(100vh - 75px);
      padding: 20px;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  @media screen 
    and (max-device-width: 480px) {
    .btn-show {
      display: none;
    }
    .btn-fab {
      position: fixed;
      display: block !important;
    }
    .post-list {
      display: none;
    }
    .board {
      padding: 0 !important;
    }
  }
</style>